.carousel {
    width: 100%;
    background: #eee;
}

.carousel img {
    width: 1248px;
    height: 462px;
    display: block;
}

.arrow img {
    display: block;
    height: 61px;
    width: 31px;
}


.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev{
    position: absolute;
    top: 170px;

}

.next {
    position: absolute;
    top: 170px;
    right: 0;
}

@media (max-width: 1000px) {
    .gallery {
        display: none;
    }
}

.gallery {
    position: relative;
    width: 1000px;
    overflow: hidden;
    margin: 0 auto;
}

.gallery ul {
    height: 400px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    overflow: hidden;
    font-size: 0;
}

.gallery li {
    display: inline-block;
}